
{%  extends  'base.html' %}

{% load static %}
{% block content %}
{% url 'calls:create' as createcalls_url %}
<div class='container'>
  <div class="row">
    <div class="col"><h3>Calls</h3></div>
    <div class="col"><button href="{{createcalls_url}}" class="btn btn-warning nav-link">New Call</button></div>  
  </div>
  <div class='row'>
    
    {% for obj in object_list %}
    <div class='col'>
      {% include 'calls/snippets/card.html' with instance=obj %}
      {% if forloop.counter|divisibleby:3  %}
    </div> </div> <div class="row">
    {% else %}
</div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}